/*
Common
*/

body {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: #2d3c49;
  transition: .5s linear;
}

a {
  text-decoration: none;
  color: #2d3c49;
}

a:hover {
  color: #7d97ad;
  transition: .3s ease-in;
}

/* 
Queries 
*/

@media screen and (min-width: 300px) and (max-width: 549px) {
  body {
    text-align: center;
    min-width: 330px;
  }
  
  .projects {
    margin: 2.5% 0;
  }
  
  .work-container {
    padding: 0;
  }
}

@media screen and (min-width: 550px) {
  body {
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: rgba(125, 151, 173, 0.3) 1px 1px 1px 2px;
  }
}

@media screen and (min-width: 550px) and (max-width: 850px) {
  .work-container {
    display: flex;
    flex-direction: column !important;
  }
  
  .work-container div.projects {
    width: 100% !important;
    flex-direction: row-reverse !important;
    align-self: center;
    text-align: center;
    padding: 2em 0;
    margin: .5em;
    box-shadow: rgba(125, 151, 173, 0.3) 3px 3px 3px 3px;
  }
}

@media screen and (max-width: 549px) {
  .work-container .projects {
    width: 100%;
    align-self: center;
  }
  
  .projects figure {
    display: none;
  }
  
  .project-container {
    padding-top: 150px;
    background-image: url(proj_1_placeholder.jpg);
    background-size: cover;
  }
  
  .project-container .project-title, .project-container .project-description {
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    padding: 2.5%;
  }
}

@media screen and (max-width: 850px) {
  .work-container {
    display: flex;
    flex-direction: column;
  }
  
  .projects {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100% !important;
  }
  
  .projects figure {
    text-align: center;
  }
  
  .project-container {
    display: flex;
    flex-direction: column;
    flex: 1.25; 
  }
  
  .project-title {
    margin: 0;
  }  
}

@media screen and (min-width: 850px) {
  body {
    width: 90%;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .work-container {
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
  }
  
  .projects {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    
  }
  
  .projects figure {
    margin: 0;
    max-width: 100%;
  }
  
  .projects img {
    display: flex;
    flex: 1;
    height: auto;
    max-width: 100%;
  }
}

/*
Header
*/

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-self: flex-start;
}

.header-container {
  width : fit-content;
  width: -moz-fit-content;
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-items: center;
  flex-flow: column;
  line-height: .175em;
  margin: 1em;
}

div.header-container>h1 {
  display: inline-flex;
  height: -moz-fit-content;
  font-size: ;
  font-weight: 100;
  color: #2d3c49;
  text-transform: uppercase;
}

div.header-container>h3 {
  display: inline-flex;
  margin: 0;
  font-size: small;
  font-weight: 500;
  color: #2d3c49;
  text-transform: uppercase
}

hr {
  border: 2px solid #7d97ad;
}

/*
Hero
*/

.hero-image {
  width: 100%;
  margin-top: 1em;
}

/*
Projects
*/

.work {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.work-title {
  font-weight: 400;
  color: #7d97ad;
  font-size: 2em;
  margin-bottom: .5em;
  padding-left: .4em;
}

.work-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.projects {
  display: flex;
  background-color: #f0f0f0;
  width: 100%;
}

.projects figure {
  text-align: center;
}

